html,
body,
ul,
li,
div,
button,
a,
input,
select {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-family: Arial, verdana, arial, sans-serif;
}

html, body {
	width: 100%;
	height: 100%;
	
}

.btn {
    padding: 5px 15px;
    font-size: 14px;
    color: #ffffff;
    border-radius: 3px;
    letter-spacing: 2px;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 20px;
}

.btn:hover {
    filter: grayscale(0.4);
}

.btn:active {
    filter: grayscale(0);
}

.btn.btn-success {
    background-color: #77cd51;
}
.btn.btn-warning {
    background-color: #f2c403;
}

/**
总容器
**/
#container {
	width: 100%;
	height: 100%;
	/* border: 1px solid red; */
	/* margin: 0 auto; */
	display: flex;
	flex-direction: column;
}

#container .topPanel,
#top-panel {
	flex-basis: 60px;
	flex-shrink: 0;
	background-color: #2A3542;
	position: relative;
	/* border-bottom: 1px solid red; */
	display: flex;
}

#container .content,
#account-setting-panel {
	flex-grow: 1;
	display: flex;
}

.left-content,
#account-setting-panel .left-content{
	 flex-basis: 200px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    background-color: #2a3542;
    opacity: 0.9;
}

.right-content,
#account-setting-panel .right-content {
	flex-grow: 1;
	overflow: auto;
	margin: 8px;
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
}
/**
topPanel.jsp，CSS样式
**/
#container .topPanel .logo-panel,
#top-panel .logo-panel{
	flex-basis: 300px;
}

#container .topPanel .logo-panel h5,
#top-panel .logo-panel h5{
	color: white;
	font-size: 24px;
	margin: 0;
	line-height: 60px;
	position: absolute;
	left: 50px;
	cursor: pointer;
}
#container .topPanel .menu-panel,
#top-panel .menu-panel{
	flex-grow: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 0 10px;
}

 #container .topPanel .menu-panel .userinfo,
 #top-panel .menu-panel .userinfo {
      	
        padding: 6px 18px 6px 6px;
        background:url(../images/userinfoarrow.png) no-repeat right center;
       /*  border-radius: 2px; */
       /*  width:43%; 
        position:absolute;
        right:0;
        top:10px;    */  
       /*  border-bottom: 1px solid #445775;  */
      /*   box-shadow: inset 1px 1px 2px #2b384e; */
        cursor: pointer;
        border: 0;
    }

 #container .topPanel .menu-panel .changetheme,
 #top-panel .menu-panel .changetheme {
        position: absolute;
        left: 10px;
        bottom: 10px;
        font-size: 11px;
    }

  #container .topPanel .menu-panel .changetheme a,
  #top-panel .menu-panel .changetheme a {
        display: inline-block;
        margin-top: 5px;
        width: 15px;
        height: 15px;
        cursor: pointer;
    }

 #container .topPanel .menu-panel .changetheme a.default,
 #top-panel .menu-panel .changetheme a.default {
        background: #6C890B;
        color:#ABC327 ;
        
    }

  #container .topPanel .menu-panel .changetheme a.blueline,
  #top-panel .menu-panel .changetheme a.blueline {
        background: #5ED5D1;
        color:#1A2D27 ;
    }

   #container .topPanel .menu-panel .changetheme a.greenline,
   #top-panel .menu-panel .changetheme a.greenline {
        background: #1A2D27;
        color: #D4D4AA;
    }

   #container .topPanel .menu-panel .changetheme a.contrast,
   #top-panel .menu-panel .changetheme a.contrast {
        background: #FF13FE;
        color:#E68EE6 ;
    }

   #container .topPanel .menu-panel .changetheme a.custombg,
   #top-panel .menu-panel .changetheme a.custombg {
        background: #2A3542;
        color: #2A3542;
    }

   #container .topPanel .menu-panel .userinfo:hover,
   #top-panel .menu-panel .userinfo:hover {
        /* background-color: #2d3b53; */
    }

   #container .topPanel .menu-panel h4, #container .topPanel .menu-panel span,
   #top-panel .menu-panel h4, #top-panel .menu-panel span {

        background: transparent;
        border: 0;
        margin: 0;
        padding: 0;
        vertical-align: baseline;
        font-weight: normal;
    }

    #container .topPanel .menu-panel ul,
    #top-panel .menu-panel ul {
        margin: 0;
        padding: 0;
    }

   #container .topPanel .menu-panel .userinfo img,
   #top-panel .menu-panel .userinfo img {
        border: 1px solid #b9c1ce;
        vertical-align: middle;
    }

  #container .topPanel .menu-panel .userinfo span,
  #top-panel .menu-panel .userinfo span {
        color: #b9c2cf;
        display: inline-block;
        padding: 0 5px;
    }

   #container .topPanel .menu-panel .userinfodrop,
   #top-panel .menu-panel .userinfodrop {
        padding: 10px;
        min-width: 300px;
        position: absolute;
        top: 48px;
        right: 0;
        display: none;
        border-radius: 10px;
        background: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        z-index: 200;
    }

   #container .topPanel .menu-panel .userinfodrop .avatar,
   #top-panel .menu-panel .userinfodrop .avatar {
        float: left;
    }

   #container .topPanel .menu-panel .userdata,
   #top-panel .menu-panel .userdata {
        margin-left: 105px;
    }

   #container .topPanel .menu-panel .userdata h4,
   #top-panel .menu-panel .userdata h4 {

        color: #2d3c54;
        display: inline-block;
    }

   #container .topPanel .menu-panel .userdata .phone-number,
   #top-panel .menu-panel .userdata .phone-number {
        color: #999;
        font-size: 11px;
        display: inline-block;
    }

   #container .topPanel .menu-panel .userdata ul,
   #top-panel .menu-panel .userdata ul {
        list-style: none;
        margin-top: 10px;
    }

   #container .topPanel .menu-panel .userdata ul li,
   #top-panel .menu-panel .userdata ul li {
        display: block;
        margin-bottom: 1px;
    }

   #container .topPanel .menu-panel .userdata ul li:last-child,
   #top-panel .menu-panel .userdata ul li:last-child {
        margin-bottom: 0;
    }

   #container .topPanel .menu-panel .userdata ul li a,
   #top-panel .menu-panel .userdata ul li a {
        display: block;
        padding: 5px;
        background: #f7f7f7;
        border-radius: 2px;
        text-decoration: none;
        color: black;
        font-size: 12px;
    }

   #container .topPanel .menu-panel .userdata ul li a:hover,
   #top-panel .menu-panel .userdata ul li a:hover {
        background: #fb9337;
        color: #fff;
    }
/**
left.jsp，style代码
**/

.left-content .top-logo-panel {
    flex-basis: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-content .center-menu-panel {
    flex-grow: 1;
}

.left-content .bottom-user-panel {
    flex-basis: 200px;
}

.left-content .top-logo-panel img {
	width: 60px;
	opacity: 0.8;
	filter:invert(100%);
	animation: logo-rotate 12s ease-in-out infinite;
}

@keyframes logo-rotate {
    0%,
    50% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/* .left-content .center-menu-panel .menu-item-list {
    list-style: none;
}

.left-content .menu-item-list .left-item {
    height: 35px;
    line-height: 35px;
    text-align: right;
    padding-right: 15px;
}

.left-content .menu-item-list .left-item.active {
    background-color: #ff6c60;
}

.left-content .menu-item-list .left-item a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
} */


 .left-content ul {
	list-style: none;
}

.left-content ul li {
	height: 40px;
	line-height: 40px;
	padding-left: 30px;
	cursor: pointer;
	
}
.left-content ul li a{
	text-decoration: none;
	color:#ffffff;
	padding-left: 8px;
}

.left-content ul li:hover, .left-content ul li.active{
	background-color: #ff6c60;
}



/**
accountManage.jsp,CSS样式
**/
.right-content .header {
	flex-basis: 45px;
	padding-left:10px;
	display: flex;
	align-items: center;
}
.right-content .account-manage,
.right-content .role-manage,
.right-content .jurisdiction-manage,
.right-content .department-manage{
flex-grow: 1;
display: flex;
flex-direction: column;
}

.right-content .table{
	flex-grow: 1;
}
.right-content .account-manage .footer,
.right-content .role-manage .footer,
.right-content .jurisdiction-manage .footer,
.right-content .department-manage .footer{
	flex-basis: 45px;
	width:-moz-calc(100% - 10px);
	width:-webkit-calc(100% - 10px);
	width:calc(100%-10px);
	margin:0;
	padding:0;
	height: 80px;
	text-align: right;
	
}

.right-content table {
	flex-grow: 1;
	width:-moz-calc(100% - 10px);
	width:-webkit-calc(100% - 10px);
	width:calc(100%-10px);
	font-size: 13px;
    border-collapse: collapse;
    border-spacing: 0px;
}
.right-content .header button {
	padding: 5px 15px;
    font-size: 14px;
    color: #ffffff;
    border-radius: 3px;
    letter-spacing: 2px;
    cursor: pointer;
    margin-right: 5px;
    border: none;
}

.right-content .header button:hover {
    filter: grayscale(0.4);
}
.right-content .header button::active {
    filter: grayscale(0);
}

.right-content .header button:first-child{
	 background-color: #77cd51;
}

.right-content .header button:last-child{
	 background-color: #ff6c60;
}

table tbody tr:nth-child(2n - 1) td {
    background-color: #f9f9f9; 
}

table tbody tr:hover td{
    background-color: #eeeeee;
    cursor: pointer;
}
.right-content th,
	.right-content td {
	padding: 10px;
    text-align: left;
}

.right-content th:last-child,
.right-content td:last-child {
    text-align: right;
}

.right-content th {
    border-bottom: 2px solid #dddddd;
}


/**
 * Link style
 */

.link {
    text-decoration: none;
    padding: 0;
    color: #a4a2a4;
    font-size: 13px;
    letter-spacing: 0;
}

.link.link-primary:hover {
    color: #42cac0;
}

.link.link-success:hover {
    color: #77cd51;
}

.link.link-info:hover {
    color: #8075c6;
}

.link.link-warning:hover {
    color: #f2c403;
}

.link.link-danger:hover {
    color: #ff6c60;
}

/**
添加account页面的CSS样式
**/

.right-content .headline {
    flex-basis: 40px;
    margin-bottom: 15px;
    padding: 25px 0 0 25px;
}

.right-content .headline h2 {
    margin: 0;
    display: inline-block;
    padding-right: 200px;
    padding-bottom: 5px;
    color: #2a3542;
    border-bottom: 3px solid #ff6c60;
}

.right-content .real-content-form {
    flex-grow: 1;
    overflow: auto;
    margin-left: 25px;
}

.button-group {
    flex-basis: 30px;
    padding: 0 10px 25px 10px;
    border-top: 1px solid #eeeeee;
    margin-left: 25px;
    display: flex;
    align-items: center;
}
/*
 * Form Style 
 */

.form .form-group {
    width: calc(100% / 2 - 100px);
    height: 70px;
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-right: 50px;
    position: relative;
}

.form .form-group .input-label {
    font-size: 13px;
    font-weight: 600;
    padding: 3px 0;
    margin-bottom: 5px;
    letter-spacing: 1px;
    color: #2a3542;
}

.form .form-group .input-content,
.form .form-group .select-content,
.form .form-group .textarea-content textarea {
    font-size: 14px;
    color: #757575;
    border: 1px solid #bbbbbb;
    border-radius: 3px;
    padding: 8px 10px !important;
    height: 18px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.form .form-group .textarea-content textarea {
	width: calc(98% - 16px) !important;
}

.form .form-group .input-content::-webkit-input-placeholder {
    color: #c2c2c2;
}

.form .form-group .input-content[disabled] {
    background-color: #eeeeee;
}

.form .form-group .input-content:focus {
    border-color: #517397;
}

.form .form-group .select-content {
    height: 36px;
    background-color: #ffffff;
    -webkit-appearance: none;
}

.form .form-group .select-arrow {
    position: absolute;
    top: 47px;
    right: 10px;
    width: 5px;
    height: 5px;
}

.form .form-group .select-arrow:after {
    content: '';
    position: absolute;
    right: 0;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.form .form-group .select-arrow:after {
    bottom: 0;
    border-top: 6px solid #404040;
}

.form .form-group .radio-content {
    font-size: 14px;
}

.form .form-group .radio-content input {
    margin-right: 5px;
    margin-left: 5px;
}

.form .form-group .radio-content input:last-child {
    margin-left: 20px;
}

.form .form-group .textarea-content textarea {
	
}

@media screen and (max-width: 1100px) {
    .form .form-group {
        width: 400px;
    }
}
.right-content .accountContent,
.right-content .roleContent,
.right-content .jurisdictionContent,
.right-content .departmentContent {
	flex-grow: 1;
	position: relative;
}

.right-content .accountContent .left,
.right-content .accountContent .right {
	position: absolute;
	width: 50%;
	height: 100%;
}

.right-content .accountContent .right {
	right: 0;
}

.right-content .accountContent .input-group{
	width: 100%;
	text-align: center;
	height: 30px;
	line-height: 30px;
	margin-bottom: 5%;
}

.right-content .accountContent .input-group .input{
	width: 90%;
	height: 21px;
	border: 1px solid black;
	font-size: 15px;
	padding-left: 10px;
	margin-top: 10px;
}
/*
头像设置，CSS样式
*/
.right-content .accountContent .avatar-setting{
	margin: 0 auto;
	width: 50%;
	height: 200px;
	margin-top: 100px;
}
 .right-content .submit{
	margin: 10px;
	width: 60px;
	cursor: pointer;
}
.right-content .accountContent .input-group .input-content,
.right-content .roleContent .input-group .input-content,
.right-content .jurisdictionContent .input-group .input-content,
.right-content .departmentContent .input-group .input-content{
	width: 70%;
	/*对于外部其他元素是行内元素，对于内部是块级元素*/
	display: inline-block;
	text-align: left;
}

/**
	add_role.jsp,add_jurisdictionCSS样式
**/

.right-content .roleContent .form-group:nth-child(2),
.right-content .jurisdictionContent .form-group:nth-child(2),
.right-content .departmentContent .form-group:nth-child(2){
	display:block;
	height: 200px;
	border: none;
	margin-bottom: 10px;
}

.right-content .roleContent .form-group textarea,
.right-content .jurisdictionContent .form-group textarea,
.right-content .departmentContent .form-group textarea{
	width: 98%;
	height: 160px;
	border: 1px solid #A9A9A9;
	font-size: 15px;
	padding:2px;
	margin-top: 10px;
	overflow: hidden;
	resize: none;
}

.jurisidction-control h3{
	font-size: 24px;
	width: 300px;
	height: 150px;
	line-height: 150px;
	margin: 0 auto;
}